// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,700;1,400&display=swap');

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "street";
  src: font-url('street.woff') format('woff')
}

// Define fonts for body and headers
$body-font: 'Cabin', sans-serif;
$headers-font: "street", "Helvetica", "sans-serif";
