.home-logo{
  position: absolute;
  width: 100vw;
  height: auto;
  padding: 10px 20px;
  top:0;
}

.fight {
  width: 500px;
  height: 150px;
}

.rules {
  width: 500px;
  height: 250px;

}
.block-jaune {
  background-color: #F8C83C;
  border-radius: 10px;
  margin: 20px auto;
  padding: 2% 4% ;
}

.margin-head {
  margin-top: 60px;
  margin-bottom: 40px;
}

.h3rules{
  font-size: 22px !important;
  color: #333 !important;
  font-weight: 600 !important;
  margin-bottom: 20px !important;
  text-decoration: underline;
}

.prules {
  font-size: 14px !important;
  color: #333 !important;
  font-weight: 400 !important;
  line-height: 24px;

}
