<p>Status active game</p>
<div class="d-flex justify-content-end">
  <div class="container game">
  <% current_user.active_player(@game).cards.each do |card| %>
  <%= link_to card.character.name, select_character_game_path(game: @game, id: card.id), data: {turbo_method: :patch} %>
  <% end %>
  </div>
</div>

