<div id="game_<%= game.id %>">
  <% if game.status == "pending" %>
    <%= render partial: "pending_game", locals: { game: game } %>

  <% elsif game.status == "active" %>
    <%= render partial: "active_game", locals: { game: game } %>
  <% elsif game.status == "started" %>
    <%= render partial: "started_game", locals: { game: game } %>
  <% elsif game.status == "finished" %>

  <% end %>
</div>
