  <% if current_user == @player_two.user %>

 <div class="mini-game-grid">
  <% @player_one_cards.each do |card| %>
     <% if card.active %>
      <div class="mini-card"></div>
    <% else %>
      <div class="mini-card red"></div>
    <% end %>
  <% end %>
</div>
<% else %>

 <div class="mini-game-grid">
  <% @player_two_cards.each do |card| %>
    <% if card.active == true %>
      <div class="mini-card"></div>
    <% else %>
      <div class="mini-card red"></div>
    <% end %>
  <% end %>
</div>
<% end %>
