  <% if current_user.id  == @player_two.user_id %>

 <div class="mini-game-grid">
  <% @player_one_cards.each do |card| %>
    <% if card.active == true %>
      <div class="mini-card"></div>
    <% else %>
      <div class="mini-card red"></div>
    <% end %>
  <% end %>
</div>
<% else %>

 <div class="mini-game-grid">
  <% @player_two_cards.each do |card| %>
    <% if card.active == true %>
      <div class="mini-card"></div>
    <% else %>
      <div class="mini-card red"></div>
    <% end %>
  <% end %>
</div>
<% end %>
