<div>
  <p>Vous n'avez pas de partie en cours</p>
  <p>Vous pouvez en créer une nouvelle</p>
  <%= simple_form_for game do |f| %>
    <%= f.button :submit, class: "btn btn-success" %>
  <% end %>
</div>
