<div class="d-flex flex-column mb-3 pending-modal w-50 ">
  <div class="p-2">
    <h2>En attente de votre adversaire ...</h2>
  </div>

  <div class="spinner-border" role="status">
    <div><%= %></div>
    <span class="sr-only">Waiting for player 2</span>
  </div>
</div>
